[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

# SPA fallback (IMPORTANTE)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
