name: Deploy Front + Back to cPanel (monorepo)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ---------- FRONT: build ----------
      - name: Setup Node for Frontend
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install frontend deps
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      # ---------- DEPLOY FRONT dist/ ----------
      - name: Deploy frontend (dist) to public_html
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: frontend/dist/
          server-dir: public_html/clinicatratamientosinvasivos/

      # ---------- DEPLOY BACK source ----------
      - name: Deploy backend source to nodejs-apps
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: backend/
          server-dir: nodejs-apps/clinica-api/
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/.env
